appdirs==1.4.4
certifi==2019.9.11
chardet==3.0.4
distlib==0.3.2
Django==2.2.7
djangorestframework==3.10.3
filelock==3.0.12
flake8==3.9.2
idna==2.8
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.22.0
six==1.16.0
sqlparse==0.4.1
swagger-client @ git+https://github.com/sivanv-unbxd/a2c-sdk-pim.git@59b80b7c7f80470480e23971b9b3d69ecd91ae63
toml==0.10.2
tox==3.23.1
urllib3==1.25.6
virtualenv==20.4.7
